.popup__input {
    width: 83.26%;
    /*width: 358px;*/
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #000000;
    /*opacity: 0.2;*/
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.2);
    display: block;
    margin: 0 auto 0;
}

/*.popup__input:invalid {
    border-bottom:1px solid #FF0000;
}*/

@media screen and (max-width:767px) {
    .popup__input {
       width:84.4%;
       line-height: 16.94px;
      }
}