.profile{
    max-width: 882px;
    /*max-width: 120px;*/
    padding-top: 40px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width:1023px) {
    .profile{
       max-width: 90%;
   }
}

@media screen and (max-width:767px) {
    .profile {
       max-width: 88%;
       padding-top: 38.25px;
       flex-direction: column;
   }
}

