.popup__button-close {
    width: 47.7px;
    height: 47.7px;
    background-color: rgba(0,0,0,.0);
    background-image: url(../../../images/logo/Close-Icon.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    border: none;
    position: absolute;
    top:-40px;
    right: -40px;
    transition: .5s ease;
    cursor: pointer;
}

.popup__button-close:hover {
    opacity: .6;
    }


@media screen and (max-width:767px) {
    .popup__button-close {
        width: 26px;
        height: 26px;
        top: -30px;
        right: 0px;
      }
}