.profile__button {
    width: 24px;
    height: 24px;
    background-color: black;
    background-image: url(../../../images/logo/Pen.png);
    background-position: center;
    background-size: 10px 10px;
    background-repeat: no-repeat;
    border: 1px solid #FFFFFF;
    cursor: pointer;
    align-self: flex-end;
}

.profile__button:hover {
    opacity: .7;
}

@media screen and (max-width:767px) {
    .profile__button {
       width: 18px;
       height: 18px;
       background-size: 7.5px 7.5px;
   }
}